-# :javascript 
-#   $('.message').animate({scrollTop: $('.message')[0].scrollHeight}, 'slow');

.contents
  .header
    .header__group
      %p.header__group__title
        = @group.name     
    .header__btn
      = link_to edit_group_path(@group) do
        %p.header__btn__edit
          Edit
    .header__members
      %p.header__members__name
        Members：
        - @group.users.each do |group_name|
          = group_name.name + "  "
  .message
    = render @messages

  .form
    = form_for @message, url: group_messages_path do |f|
      .form__box
        .form__box__message
          = f.text_field :text, class: "form__box__message__text", placeholder: "type a message"            
          %label.upload-label{for: "upload-icon"}
            %i.fa.fa-picture-o
              = f.file_field :image, id: "upload-icon"
      .form__box__send
        = f.submit value: "Send", class: "form__box__send__btn"