.side-bar
  .header
    .header__box
      .header__box__user-name
        %p
        =current_user.name
      .header__box__menu
        %ul
          %li.header__box__menu__edit
            =link_to new_group_path, class: "header__box__menu__btn" do
              = fa_icon "edit"
          %li.header__box__menu__cog
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'
  .group
    - current_user.groups.each do |group|
      .group__box
        = link_to group_messages_path(group) do
          %p.group__box__title
            = group.name
          %p.group__box__info
            = group.show_last_message